<style>
    /* Hide the spinner arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>
<%- include('header') %>
    <div class="page-content">
        <div class="container">
            <%if(flash.success && flash.success.length> 0){%>
                <div class="alert form-control" style="padding-left: 25px; color: black; padding-top: 8px;">
                    <%=flash.success%>
                </div>
                <%}%>
                    <div class="row">
                        <div class="main-content col-lg-8">
                            <div class="d-lg-none">
                                <a href="#" data-toggle="modal" data-target="#add-wallet"
                                    class="btn btn-danger btn-xl btn-between w-100 mgb-1-5x">Add your wallet address
                                    before buy
                                    <em class="ti ti-arrow-right"></em></a>
                                <div class="gaps-1x mgb-0-5x d-lg-none d-none d-sm-block"></div>
                            </div>
                            <div class="content-area card">
                                <div class="card-innr">
                                    <div class="card-head">
                                        <span class="card-sub-title text-primary font-mid">Step 1</span>
                                        <h4 class="card-title">Amount of contribute</h4>
                                    </div>
                                    <form action="/transactionData" method="post">
                                        <input type="hidden" value="<%= user._id %>" name="User_id">
                                        <div class="card-text">
                                            <p>Enter your amount, you would like to contribute and calculate the amount
                                                of token
                                                you
                                                will received. The calculator helps to convert required currency to
                                                tokens.</p>
                                        </div>
                                        <div class="token-contribute">
                                            <div id="error-message" style="color: red; display: none;">
                                                Minimum contribution required
                                            </div>
                                            <div class="token-calc">
                                                <div class="token-pay-amount">
                                                    <input id="token-base-amount" class="input-bordered input-with-hint"
                                                        type="text" value="<%= webSettingData.Minimum_Purchase %>"
                                                        onchange="calculateTokenValue()"
                                                        min="<%= webSettingData.Minimum_Purchase %>" name="Usd"
                                                        oninput="validateInput(this)">
                                                    <div id="error-message" style="color: red; display: none;">
                                                        Please enter a valid number.
                                                    </div>

                                                    <div class="token-pay-currency">
                                                        <span class="input-hint input-hint-sap">USD</span>
                                                    </div>
                                                </div>
                                                <div class="token-received">
                                                    <div class="token-eq-sign">=</div>
                                                    <div class="token-received-amount">
                                                        <h5 class="token-amount" id="calculated-token-amount">0.00</h5>
                                                        <input type="hidden" id="calculatedtokenamount-input"
                                                            name="Token">
                                                        <div class="token-symbol">
                                                            <%= webSettingData.Tokensymbol %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="token-calc-note note note-plane">
                                                <em class="fas fa-times-circle text-danger"></em>
                                                <span class="note-text text-light">
                                                    <%= webSettingData.Minimum_Purchase %> minimum contribution require.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="token-overview-wrap">
                                            <div class="token-overview">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="token-bonus token-bonus-sale">
                                                            <span class="token-overview-title">Total Token</span>
                                                            <span class="token-overview-value bonus-on-sale"
                                                                id="Total_token">
                                                                000.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="token-bonus token-bonus-amount">
                                                            <span class="token-overview-title">+ <%=
                                                                    activeStageData.Bonus_Percentage %>% Bonus</span>
                                                            <input type="hidden" id="Bonus-input" name="Bonus">

                                                            <span class="token-overview-value bonus-on-amount"
                                                                id="amount-bonus-value">0</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="token-total">
                                                            <span class="token-overview-title font-bold">Total
                                                                Token</span>
                                                            <input type="hidden" id="Total_Token-input"
                                                                name="Total_Token">

                                                            <span
                                                                class="token-overview-value token-total-amount text-primary"
                                                                id="total-amount">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="note note-plane note-danger note-sm pdt-1x pl-0">
                                                <p>Your Contribution will be calculated based on exchange rate at the
                                                    moment
                                                    your
                                                    transaction is confirm.</p>
                                            </div>
                                        </div>
                                        <div class="card-head">
                                            <span class="card-sub-title text-primary font-mid">Step 2</span>
                                            <h4 class="card-title">Choose currency and calculate <%=
                                                    webSettingData.Tokensymbol %> tokens price</h4>
                                        </div>
                                        <div class="card-text">
                                            <p>You can buy our <%= webSettingData.Tokensymbol %> tokens using ETH, BTC,
                                                    LTC or USD to become part of
                                                    Our
                                                    project.
                                            </p>
                                        </div>
                                        <div class="token-currency-choose">
                                            <div class="row guttar-15px">
                                                <div class="token-currency-choose">
                                                    <div class="row guttar-15px">
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio" id="payeth"
                                                                    name="Method" value="ethereum" checked
                                                                    onclick="toggleFormVisibility()">
                                                                <label class="pay-option-label" for="payeth"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span
                                                                            class="pay-cur">Ethereum (ETH)</span></span>

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio" id="paybtc"
                                                                    onclick="toggleFormVisibility()" name="Method"
                                                                    value="bitcoin">
                                                                <label class="pay-option-label" onclick="handlenone()"
                                                                    for="paybtc">
                                                                    <span class="pay-title"><span
                                                                            class="pay-cur">Bitcoin (BTC)</span></span>

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    onclick="toggleFormVisibility()" id="paysolana"
                                                                    name="Method" value="solana">
                                                                <label class="pay-option-label" for="paysolana"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span class="pay-cur">SOLANA
                                                                            (SOL)</span></span>

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    onclick="toggleFormVisibility()" id="payUSDT(ERC20)"
                                                                    name="Method" value="USDT(ERC20)">
                                                                <label class="pay-option-label" for="payUSDT(ERC20)"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span class="pay-cur">USDT
                                                                            (ERC20)</span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    onclick="toggleFormVisibility()" id="payUSDT(BEP20)"
                                                                    name="Method" value="USDT(BEP20)">
                                                                <label class="pay-option-label" for="payUSDT(BEP20)"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span class="pay-cur">USDT
                                                                            (BEP20)</span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    onclick="toggleFormVisibility()" id="payUSDT(TRC20)"
                                                                    name="Method" value="USDT(TRC20)">
                                                                <label class="pay-option-label" for="payUSDT(TRC20)"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span class="pay-cur">USDT
                                                                            (TRC20)</span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    onclick="toggleFormVisibility()" id="payUSDC(ERC20)"
                                                                    name="Method" value="USDC(ERC20)">
                                                                <label class="pay-option-label" for="payUSDC(ERC20)"
                                                                    onclick="handlenone()">
                                                                    <span class="pay-title"><span class="pay-cur">USDC
                                                                            (ERC20)</span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="pay-option">
                                                                <input class="pay-option-check" type="radio"
                                                                    id="credit_card" name="Method" value="credit_card"
                                                                    onclick="handlenone()">
                                                                <label class="pay-option-label" for="credit_card">
                                                                    <span class="pay-title"><span
                                                                            class="pay-cur">Card</span></span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="random-crypto-address"></div>
                                        <div class="card-head">
                                            <span class="card-sub-title text-primary font-mid">Step 3</span>
                                            <h4 class="card-title">Make a payment</h4>
                                        </div>
                                        <div class="pay-buttons" id="hidebtn">
                                            <div class="pay-button"><a onclick="fetchPrice()" href="#"
                                                    data-toggle="modal" data-target="#pay-online"
                                                    class="btn btn-primary btn-between w-100 "
                                                    id="showButton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pay Now<em
                                                        class="ti ti-arrow-right"></em></a></div>
                                        </div>
                                        <div id="hiddenSection" class="mt-3" style="display: none;">
                                            <p>Please send <b id="AmOunt_pay">0.0</b> <b id="f-c"
                                                    style="text-transform: capitalize;"></b> to this following
                                                Address :<b>
                                                    <br>
                                                    <span id="f-c3"
                                                        style="color:#495463; text-transform: capitalize;"></span>&nbsp;Address
                                                    : <span id="cryptoAddressDisplay"
                                                        style="color:#495463;">Crypto_Address</span>
                                                </b>
                                            </p>
                                            <input type="text" id="AmOunt_pay-input" name="Pay_Amount" required
                                                style="display: none;">
                                            <input type="hidden" id="cryptoAddressDisplay-input" name="Crypto_Address">
                                            <p> Send the amount requested using either the bar code to the right or by
                                                cutting
                                                and
                                                pasting the address into the requested
                                                sending field of your bitcoin wallet when transferring.</p>
                                            <p>Only after your wallet has shown a successful send, click on the blue
                                                button to
                                                the
                                                right which says Click here when transfer is complete? to acknowledge
                                                that your
                                                transfer was completed.</p>
                                            <div id="qr-code-container"></div>

                                            <p class="pt-3"><b id="f-c2" style="text-transform: capitalize;"></b>
                                                <b>Address:</b> <b id="cryptoAddresstwo"></b>
                                            </p>
                                            <div class="">

                                                <button id="showButton" class="btn btn-primary btn-between w-100">
                                                    Click here when transfer is complete
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="pay-buttons" id="stripe-button">
                                        <div class="padfgdfgy-button">
                                            <a href="#" data-toggle="modal" data-target="#pay-online"
                                                class="btn btn-primary btn-between w-100" id="showButton"
                                                onclick="toggleFormVisibility() ,fetchPrice_card()">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pay with Card<em
                                                    class="ti ti-arrow-right"></em>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="content-area card" id="paymentForm" style="display: none;">
                                        <div class="card-innr card-innr-fix">
                                            <div class="card-head">
                                                <h6 class="card-title">Payment Card Information</h6>
                                            </div>
                                            <div class="gaps-1x"></div>
                                            <form action="/StripePaymentData" method="post"
                                                class="form-validate validate-modern">
                                                <input type="hidden" value="<%= user._id %>" name="User_id">

                                                <input type="hidden" id="cardusdamount" name="Usd">

                                                <input type="hidden" id="cardtoken" name="Token">

                                                <input type="hidden" id="cardBonus" name="Bonus">
                                                <input type="hidden" id="Total_Token-card" name="Total_Token">


                                                <div class="input-item input-with-label">
                                                    <label class="input-item-label text-exlight">Email Address</label>
                                                    <div class="input-wrap">
                                                        <input id="full-name" name="email" data-msg="Required"
                                                            class="input-bordered required" type="text" required>
                                                    </div>
                                                </div>
                                                <div class="input-item input-with-label">
                                                    <label class="input-item-label text-exlight">Card Number</label>
                                                    <div class="input-wrap">
                                                        <input id="phone-number" name="card_number" data-msg="Required"
                                                            class="input-bordered required" type="text" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="input-item input-with-label">
                                                            <label class="input-item-label text-exlight">Expiry
                                                                Date</label>
                                                            <div class="input-wrap">
                                                                <input id="email-id" name="ExpiryDate" required
                                                                    data-msg="Required" data-msg-email="Wrong Email"
                                                                    class="input-bordered required email" type="date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-item input-with-label">
                                                            <label class="input-item-label text-exlight">CVC</label>
                                                            <div class="input-wrap">
                                                                <input id="email-subject" name="CVC" data-msg="Required"
                                                                    class="input-bordered required" type="text"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gaps-1x"></div>
                                                <button class="btn btn-primary">Pay Now </button>
                                            </form>
                                        </div><!-- .card-innr -->
                                    </div><!-- .card -->
                                    <div class="pay-notes">
                                        <div class="note note-plane note-light note-md font-italic">
                                            <em class="fas fa-info-circle"></em>
                                            <p>Tokens will appear in your account after payment successfully made and
                                                approved
                                                by our team. <br class="d-none d-lg-block"> Please note that, <%=
                                                    webSettingData.Tokensymbol %> tokens
                                                    will
                                                    distributed end of ICO Token Sales. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="aside sidebar-right col-lg-4">
                            <div class="token-sales card">
                                <div class="card-innr">
                                    <div class="card-head">
                                        <h5 class="card-title card-title-sm">Pre-Sale Token Sales</h5>
                                    </div>
                                    <div class="token-rate-wrap row">
                                        <div class="token-rate col-md-6 col-lg-12">
                                            <span class="card-sub-title">Token Price</span>
                                            <h4 class="font-mid text-dark">1 <%= webSettingData.Tokensymbol %> = <span>
                                                        <%= activeStageData.Base_Token_Price %>
                                                            $
                                                    </span></h4>
                                        </div>
                                    </div>
                                    <div class="token-bonus-current">
                                        <div class="fake-class">
                                            <span class="card-sub-title">Current Bonus</span>
                                            <div class="h3 mb-0">
                                                <%= activeStageData.Bonus_Percentage%>%
                                            </div>
                                        </div>
                                        <div class="token-bonus-date">End at <br>
                                            <%= activeStageData.End_Date.toDateString() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="sap"></div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <%- include('footer') %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function toggleFormVisibility() {
                var form = document.getElementById("paymentForm");
                if (form.style.display === "none") {
                    form.style.display = "block";
                } else {
                    form.style.display = "none";
                }
            }
            const tokenPrice = <%= activeStageData.Base_Token_Price %>;
            const bonusPercentage = <%= activeStageData.Bonus_Percentage %>;

            function validateInput(inputElement) {
                const inputValue = inputElement.value;
                if (/^\d+(\.\d+)?$/.test(inputValue)) {
                    // The input is a valid integer or float value
                    document.getElementById('error-message').style.display = 'none';
                } else {
                    // Display the error message for invalid input
                    document.getElementById('error-message').style.display = 'block';
                }
            }
            function calculateTokenValue() {
                const inputElement = document.getElementById('token-base-amount');
                const inputAmount = parseFloat(inputElement.value);

                // Validate the input before proceeding with calculations
                if (!isNaN(inputAmount) && /^\d+(\.\d+)?$/.test(inputElement.value)) {
                    document.getElementById('cardusdamount').value = inputAmount;
                    const calculatedValue = inputAmount / <%= activeStageData.Base_Token_Price %>;
                    document.getElementById('calculated-token-amount').textContent = calculatedValue.toFixed(8);
                    document.getElementById('calculatedtokenamount-input').value = calculatedValue.toFixed(8);
                    document.getElementById('cardtoken').value = calculatedValue;
                    document.getElementById('Total_token').textContent = calculatedValue.toFixed(8);

                    const bonusAmount = calculatedValue * (bonusPercentage / 100);
                    document.getElementById('Bonus-input').value = bonusAmount.toFixed(8);
                    document.getElementById('cardBonus').value = bonusAmount;
                    document.getElementById('amount-bonus-value').textContent = bonusAmount.toFixed(8);

                    const totalEdxValue = calculatedValue + bonusAmount;
                    document.getElementById('total-amount').textContent = totalEdxValue.toFixed(8);
                    document.getElementById('Total_Token-input').value = totalEdxValue;
                    document.getElementById('Total_Token-card').value = totalEdxValue;

                    const stripeScript = document.getElementById('stripe-scriptsend');
                    stripeScript.setAttribute('data-amount', inputAmount);
                    return totalEdxValue;
                }
                return 0;
            }
            window.addEventListener('load', function () {
                const minValue = <%= webSettingData.Minimum_Purchase %>;
                const inputElement = document.getElementById('token-base-amount');
                inputElement.value = minValue;
                calculateTokenValue(minValue);
            });
            function fetchPrice() {
                const selectedCryptocurrency = document.querySelector('input[name="Method"]:checked').value;
                const inputAmountUSD = parseFloat(document.getElementById('token-base-amount').value);

                const priceMapping = {
                    'USDC(ERC20)': 1,
                    'USDT(TRC20)': 1,
                    'USDT(BEP20)': 1,
                    'USDT(ERC20)': 1
                };

                const apiUrl = `/getRandomCryptoAddress?selectedCryptocurrency=${selectedCryptocurrency}`;

                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        let price = data.price;
                        if (priceMapping.hasOwnProperty(selectedCryptocurrency)) {
                            price = priceMapping[selectedCryptocurrency];
                        }

                        // Update the HTML elements with fetched data
                        document.getElementById('f-c').textContent = selectedCryptocurrency;
                        document.getElementById('f-c2').textContent = selectedCryptocurrency;
                        document.getElementById('f-c3').textContent = selectedCryptocurrency;
                        document.getElementById('AmOunt_pay').textContent = (inputAmountUSD / price).toFixed(8);
                        document.getElementById('AmOunt_pay-input').value = (inputAmountUSD / price).toFixed(8);
                        document.getElementById('cryptoAddressDisplay-input').value = data.randomCryptoAddress;
                        document.getElementById('cryptoAddressDisplay').textContent = data.randomCryptoAddress;
                        document.getElementById('cryptoAddresstwo').textContent = data.randomCryptoAddress;

                        const qrCodeUrl = `https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=${data.randomCryptoAddress}`;
                        const qrCodeImage = document.createElement('img');
                        qrCodeImage.src = qrCodeUrl;
                        const qrCodeContainer = document.getElementById('qr-code-container');
                        qrCodeContainer.innerHTML = '';
                        qrCodeContainer.appendChild(qrCodeImage);

                        document.getElementById('hiddenSection').style.display = 'block';
                    })
                    .catch(error => {
                        console.error("Error fetching data:", error);
                    });
            }


            function handlenone() {

                document.getElementById('hiddenSection').style.display = 'none';
            }
            $(document).ready(function () {
                $('#stripe-button').hide();
                $('input[type=radio][name=Method]').change(function () {
                    const selectedMethod = this.value;
                    if (selectedMethod === 'credit_card') {
                        $('#showButton').css('display', 'none');
                        $('#stripe-button').css('display', '');
                        $('#hidebtn').css('display', 'none');
                    } else {
                        $('#stripe-button').css('display', 'none');
                        $('#paymentForm').css('display', 'none');
                        $('#showButton').css('display', '');
                        $('#hidebtn').css('display', '');
                    }
                });

                $('#showButton').click(function (e) {
                    if ($('input[type=radio][name=Method]:checked').val() === 'credit_card' ? 'credit_card' : null) {
                        e.preventDefault();
                        $('#stripe-button').find('.stripe-button-el').click();
                    }
                });
            });
        </script>
        <script>
            function validateMinimum(inputElement) {
                const minValue = parseFloat('<%= webSettingData.Minimum_Purchase %>');
                if (parseFloat(inputElement.value) < minValue) {
                    inputElement.value = minValue;
                }
            }
        </script>
        <script>
            function validateInput(inputElement) {
                const minValue = parseFloat('<%= webSettingData.Minimum_Purchase %>');
                const inputValue = parseFloat(inputElement.value);

                if (isNaN(inputValue) || inputValue < minValue) {
                    document.getElementById('error-message').style.display = 'block';
                    inputElement.setCustomValidity("Invalid");
                } else {
                    document.getElementById('error-message').style.display = 'none';
                    inputElement.setCustomValidity(""); // Clear custom validity
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                $("#showButton").click(function () {
                    $("#hiddenSection").toggle();
                });
            });
        </script>