<%- include('header') %>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="main-content col-lg-12">
                    <div class="content-area card ">
                        <div class="card-innr">
                            <div class="card-head">
                                <h4 class="card-title card--lg">Frequently Question Answers</h4>
                            </div>
                            <div class="content">
                                <div class="accordion-simple" id="faqList-1">
                                    <% for (var i of data) { %>
                                        <div class="accordion-item">
                                            <h6 class="accordion-heading collapsed" data-toggle="collapse"
                                                data-target="#collapse-<%= i.id %>">
                                                <%= i.FAQ_Question %>
                                            </h6>
                                            <div id="collapse-<%= i.id %>" class="collapse"
                                                data-parent="#faqList-1">
                                                <div class="accordion-content">
                                                    <p>
                                                        <%= i.FAQ_Answer %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    </div>

    <%- include('footer') %>