<%- include('header') %>
    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">KYC Details</h4>
                        <div class="d-flex align-items-center guttar-20px">
                            <div class="flex-col d-sm-block d-none">
                                <!-- <a href="kyc-list.html" class="btn btn-sm btn-auto btn-primary"><em class="fas fa-arrow-left mr-3"></em>Back</a> -->
                            </div>
                            <div class="flex-col d-sm-none">
                                <a href="kyc-list.html" class="btn btn-icon btn-sm btn-primary"><em
                                        class="fas fa-arrow-left"></em></a>
                            </div>
                            <div class="relative d-inline-block">
                                <a href="#" class="btn btn-dark btn-sm btn-icon toggle-tigger"><em
                                        class="ti ti-more-alt"></em></a>
                                <div class="toggle-class dropdown-content dropdown-content-top-left">
                                    <ul class="dropdown-list">
                                        <li><a href="/kyc/Approve/<%= record.id %>"><em class="ti ti-check"></em>
                                                Approve</a></li>
                                        <li><a href="/kyc/Cancelled/<%= record.id %>"><em class="ti ti-na"></em>
                                                Reject</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gaps-1-5x"></div>
                    <div class="data-details d-md-flex flex-wrap align-items-center justify-content-between">
                        <div class="fake-class">
                            <span class="data-details-title">
                                <%= record.First_Name%>
                            </span>
                            <span class="data-details-info">
                                <%= record.Email%>
                            </span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Submited On</span>
                            <span class="data-details-info">
                                <%= formatTimestamp(record.KYC_submit_Time) %>
                            </span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Checked By</span>
                            <span class="data-details-info">Admin</span>
                        </div>
                        <div class="fake-class">
                            <% if (record.Status==='Pending' ) { %>
                                <span class="dt-status-md badge badge- badge-warning badge-md">Pending</span>
                                <% } else if (record.Status==='Approved' ) { %>
                                    <span class="dt-status-md badge badge- badge-success badge-md">Approved</span>
                                    <% } else if (record.Status==='Cancelled' ) { %>
                                        <span class="dt-status-md badge badge- badge-danger badge-md">Reject</span>
                                        <% } %>
                        </div>
                        <div class="gaps-2x w-100 d-none d-md-block"></div>
                    </div>
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">Personal Information</h6>
                    <ul class="data-details-list">
                        <li>
                            <div class="data-details-head">First Name</div>
                            <div class="data-details-des">
                                <%= record.First_Name%>
                            </div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Last Name</div>
                            <div class="data-details-des">
                                <%= record.Last_Name%>
                            </div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Email Address</div>
                            <div class="data-details-des">
                                <%= record.Email%>
                            </div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Phone Number</div>
                            <div class="data-details-des">
                                <%= record.Phone%>
                            </div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Date of Birth</div>
                            <div class="data-details-des">
                                <%= formatDOB(record.DOB) %>
                            </div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Full Address</div>
                            <div class="data-details-des">
                                <%= record.Address_1%>, <%= record.City%>, <%= record.State%>, <%= record.Nationality%>
                            </div>
                        </li>

                        <% if (record.Address_2) { %>
                            <li>
                                <div class="data-details-head">Address 2</div>
                                <div class="data-details-des">
                                    <%= record.Address_2 %>
                                </div>
                            </li>
                            <% } %>
                                <li>
                                    <div class="data-details-head">Country of Residence</div>
                                    <div class="data-details-des">
                                        <%= record.Nationality%>
                                    </div>
                                </li><!-- li -->

                    </ul>
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">Uploaded Documnets</h6>
                    <ul class="data-details-list">
                        <li class="justify-content-between m-5">
                            <div class="data-doc-item data-doc-item-lg  ">
                                <div class="data-doc-image d-flex justify-content-between">
                                    <!-- <p>National Card And Driving Licence</p> -->
                                    <% if (record.KYC_Doc && record.KYC_Doc !=='Not Submitted' ) { %>
                                        <a href="<%= record.KYC_Doc %>" class="image-popup">View Document</a> 

                                        <% } else if (record.KYC_Doc==='Not Submitted' ) { %>
                                            <!-- <p>KYC Document not available.</p> -->
                                            <% } else { %>
                                                <p>NULL</p>
                                                <% } %>


                                                    <% if (record.KYC_Front_Image && record.KYC_Front_Image
                                                        !=='Not Submitted' ) { %>
                                                            <a href="<%= record.KYC_Front_Image %>" class="image-popup">Front Document</a> 

                                                        <% } else if (record.KYC_Front_Image==='Not Submitted' ) { %>
                                                     
                                                            <% } else { %>
                                                                <p>NULL</p>
                                                                <% } %>


                                                                    <% if (record.KYC_Front_Image &&
                                                                        record.KYC_Front_Image !=='Not Submitted' ) { %>
                                                                            <a href="<%= record.KYC_Back_Image %>" class="image-popup">Back Document</a> 

                                                                        <% } else if
                                                                            (record.KYC_Back_Image==='Not Submitted' ) {
                                                                            %>
                                                                           
                                                                            <% } else { %>
                                                                                <p>NULL</p>
                                                                                <% } %>

                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                </li><!-- li -->
                </ul>
                </li><!-- li -->
                </ul>
            </div><!-- .card-innr -->
        </div><!-- .card -->
    </div><!-- .container -->
    </div>
    <%- include('footer') %>